
@{
    ViewBag.Title = "Crud";
}

<h1>Select table to change</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Edit Addresses</h2>
        <p>@Html.ActionLink("Edit Addresses", "Index", "Addresses",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Avabilities</h2>
        <p>@Html.ActionLink("Edit Avabilities", "Index", "Avalibilities",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Categories</h2>
        <p>@Html.ActionLink("Edit Categories", "Index", "Categories",null, new { @class = "btn btn-primary" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Edit Languages</h2>
        <p>@Html.ActionLink("Edit Languages", "Index", "Languages",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Order status</h2>
        <p>@Html.ActionLink("Edit Order statuses", "Index", "Order_status",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Producents</h2>
        <p>@Html.ActionLink("Edit Producents", "Index", "Producents",null, new { @class = "btn btn-primary" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Edit Products</h2>
        <p>@Html.ActionLink("Edit Products", "Index", "Products",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Products orders</h2>
        <p>@Html.ActionLink("Edit Products Orders", "Index", "Products_order",null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Edit Products to order</h2>
        <p>@Html.ActionLink("Edit Products to order", "Index", "Products_to_order",null, new { @class = "btn btn-primary" })</p>
    </div>
</div>

