@model IEnumerable<GameShop.Models.Products_to_order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Products_to_order }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Products_to_order }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Products_to_order })
        </td>
    </tr>
}

</table>
